In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Airbnb_Open_Data.csv')

/Users/meiyeechong/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.shape

(102599, 26)

In [4]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [6]:
df[df.duplicated()]

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
102058,35506831,Master Bedroom with private Bathroom & Balcony,55110690425,unconfirmed,UZeyir,Queens,Maspeth,40.74056,-73.90635,United States,...,$141,1.0,1.0,11/14/2021,0.27,3.0,1.0,339.0,NaN,NaN
102059,35507383,Cozy 2 br in sunny Fort Greene apt,80193772189,verified,Sally,Brooklyn,Fort Greene,40.68701,-73.97555,United States,...,$130,3.0,38.0,11/13/2021,0.27,3.0,1.0,0.0,NaN,NaN
102060,35507935,Duplex w/ Terrace @ Box House Hotel,72991962259,verified,The Box House Hotel,Brooklyn,Greenpoint,40.73756,-73.95350,United States,...,$181,3.0,10.0,11/13/2021,0.08,3.0,30.0,32.0,NaN,NaN
102061,35508488,"Cozy, clean Greenpoint room with yard access",74975156081,verified,Dawn,Brooklyn,Greenpoint,40.72516,-73.95004,United States,...,$118,30.0,38.0,11/13/2021,0.34,5.0,2.0,324.0,NaN,NaN
102062,35509040,2BR XL Loft: Cleaning CDC guidelines implemented,85844415221,unconfirmed,Vida,Brooklyn,Greenpoint,40.72732,-73.94185,United States,...,$71,30.0,13.0,11/13/2021,0.14,4.0,28.0,336.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [7]:
df.drop_duplicates(keep = 'first',inplace = True)

In [8]:
df.isna().sum().sort_values(ascending = False)

license                           102056
house_rules                        51842
last review                        15832
reviews per month                  15818
country                              532
availability 365                     448
host name                            404
minimum nights                       400
calculated host listings count       319
review rate number                   319
host_identity_verified               289
service fee                          273
NAME                                 250
price                                247
Construction year                    214
number of reviews                    183
country code                         131
instant_bookable                     105
cancellation_policy                   76
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
host id                                0
room type                              0
id                                     0
dtype: int64

In [9]:
  percent=df.isna().sum()/df.shape[0]*100
  result=pd.DataFrame({"columns": percent.keys(), "na%": percent})
  result.reset_index(drop = True,inplace = True)
  result

                           columns        na%
0                               id   0.000000
1                             NAME   0.244959
2                          host id   0.000000
3           host_identity_verified   0.283172
4                        host name   0.395853
5              neighbourhood group   0.028415
6                    neighbourhood   0.015677
7                              lat   0.007839
8                             long   0.007839
9                          country   0.521272
10                    country code   0.128358
11                instant_bookable   0.102883
12             cancellation_policy   0.074467
13                       room type   0.000000
14               Construction year   0.209685
15                           price   0.242019
16                     service fee   0.267495
17                  minimum nights   0.391934
18               number of reviews   0.179310
19                     last review  15.512748
20               reviews per month  15.499030
21              review rate number   0.312567
22  calculated host listings count   0.312567
23                availability 365   0.438966
24                     house_rules  50.796606
25                         license  99.998040

In [10]:
df = df.drop(columns = ['house_rules','license','last review','reviews per month','availability 365'])

In [11]:
df['NAME'] = df['NAME'].fillna(value = 'blank')
df['host name'] = df['host name'].fillna(value = 'blank')
df['country'] = df['country'].fillna(value = 'United States')
df['country code'] = df['country code'].fillna(value = 'US')
df['host_identity_verified'] = df['host_identity_verified'].fillna(value = 'unconfirmed')

In [12]:
df.isna().sum().sort_values(ascending = False)

minimum nights                    400
calculated host listings count    319
review rate number                319
service fee                       273
price                             247
Construction year                 214
number of reviews                 183
instant_bookable                  105
cancellation_policy                76
neighbourhood group                29
neighbourhood                      16
long                                8
lat                                 8
host_identity_verified              0
NAME                                0
host id                             0
country code                        0
host name                           0
country                             0
room type                           0
id                                  0
dtype: int64

In [13]:
  percent=df.isna().sum()/df.shape[0]*100
  result=pd.DataFrame({"columns": percent.keys(), "na%": percent})
  result.reset_index(drop = True,inplace = True)
  result

                           columns       na%
0                               id  0.000000
1                             NAME  0.000000
2                          host id  0.000000
3           host_identity_verified  0.000000
4                        host name  0.000000
5              neighbourhood group  0.028415
6                    neighbourhood  0.015677
7                              lat  0.007839
8                             long  0.007839
9                          country  0.000000
10                    country code  0.000000
11                instant_bookable  0.102883
12             cancellation_policy  0.074467
13                       room type  0.000000
14               Construction year  0.209685
15                           price  0.242019
16                     service fee  0.267495
17                  minimum nights  0.391934
18               number of reviews  0.179310
19              review rate number  0.312567
20  calculated host listings count  0.312567

In [14]:
#since the missing value are less than 1%, we can just delete it
df = df.dropna()

In [15]:
df.isna().sum()

id                                0
NAME                              0
host id                           0
host_identity_verified            0
host name                         0
neighbourhood group               0
neighbourhood                     0
lat                               0
long                              0
country                           0
country code                      0
instant_bookable                  0
cancellation_policy               0
room type                         0
Construction year                 0
price                             0
service fee                       0
minimum nights                    0
number of reviews                 0
review rate number                0
calculated host listings count    0
dtype: int64

In [16]:
df.shape

(100147, 21)

In [17]:
df['price']=df['price'].str.replace("$","").str.replace(",","").astype(float)

In [18]:
df['service fee']=df['service fee'].str.replace("$","").str.replace(",","").str.replace(" ","").astype(float)

In [19]:
df['neighbourhood group']=df['neighbourhood group'].str.replace("brookln","Brooklyn")

In [20]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,review rate number,calculated host listings count
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,False,strict,Private room,2020.0,966.0,193.0,10.0,9.0,4.0,6.0
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,False,moderate,Entire home/apt,2007.0,142.0,28.0,30.0,45.0,4.0,2.0
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,unconfirmed,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,True,flexible,Private room,2005.0,620.0,124.0,3.0,0.0,5.0,1.0
3,1002755,blank,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,True,moderate,Entire home/apt,2005.0,368.0,74.0,30.0,270.0,4.0,1.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,False,moderate,Entire home/apt,2009.0,204.0,41.0,10.0,9.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102040,57358028,"Room in Queens, NY, near LGA.",56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,...,True,strict,Private room,2022.0,982.0,196.0,1.0,239.0,2.0,2.0
102041,57358580,Cozy home away from home,60176837202,verified,blank,Queens,Edgemere,40.59380,-73.77373,United States,...,True,moderate,Private room,2020.0,946.0,189.0,1.0,76.0,1.0,1.0
102042,57359133,Central Park Views - Private Room & Bathroom,68411243647,verified,blank,Manhattan,Upper West Side,40.79712,-73.96117,United States,...,False,strict,Private room,2012.0,706.0,141.0,1.0,4.0,4.0,1.0
102043,57359685,Ultimate 50th Floor Downtown Penthouse - 4000...,95625271612,verified,blank,Manhattan,SoHo,40.72318,-74.00223,United States,...,False,flexible,Entire home/apt,2020.0,1043.0,209.0,2.0,21.0,4.0,2.0
102044,57360237,Lovely Two Bedroom & Event Space From Nonprofit,83006936257,verified,blank,Brooklyn,Bedford-Stuyvesant,40.69095,-73.93444,United States,...,False,flexible,Entire home/apt,2010.0,809.0,162.0,31.0,4.0,1.0,1.0

In [23]:
df.describe()

,id,host id,lat,long,Construction year,price,service fee,minimum nights,number of reviews,review rate number,calculated host listings count
count,1.001470e+05,1.001470e+05,100147.000000,100147.000000,100147.000000,100147.000000,100147.000000,100147.000000,100147.000000,100147.000000,100147.000000
mean,2.928002e+07,4.925791e+10,40.728054,-73.949638,2012.487603,625.445086,125.089878,8.114921,27.335677,3.280448,7.945690
std,1.622241e+07,2.853783e+10,0.055862,0.049548,5.763301,331.668555,66.337094,30.712162,49.268821,1.284300,32.318811
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,50.000000,10.000000,-1223.000000,0.000000,1.000000,1.000000
25%,1.523217e+07,2.458389e+10,40.688700,-73.982590,2007.000000,340.000000,68.000000,2.000000,1.000000,2.000000,1.000000
50%,2.930837e+07,4.911774e+10,40.722260,-73.954450,2012.000000,625.000000,125.000000,3.000000,7.000000,3.000000,1.000000
75%,4.333596e+07,7.398688e+10,40.762760,-73.932320,2017.000000,913.000000,183.000000,5.000000,30.000000,4.000000,2.000000
max,5.736024e+07,9.876313e+10,40.916970,-73.705220,2022.000000,1200.000000,240.000000,5645.000000,1024.000000,5.000000,332.000000

In [24]:
df.corr()

,id,host id,lat,long,Construction year,price,service fee,minimum nights,number of reviews,review rate number,calculated host listings count
id,1.000000,-0.001249,-0.009004,0.041173,0.000452,0.007246,0.007247,0.005697,-0.036371,0.035916,0.022915
host id,-0.001249,1.000000,0.000802,-0.008458,0.004548,0.003463,0.003445,-0.002212,-0.005042,0.004002,0.001517
lat,-0.009004,0.000802,1.000000,0.073841,0.005272,-0.004374,-0.004347,0.015285,-0.025225,-0.003467,0.032357
long,0.041173,-0.008458,0.073841,1.000000,0.001501,0.003564,0.003558,-0.039433,0.070669,0.014364,-0.105283
Construction year,0.000452,0.004548,0.005272,0.001501,1.000000,-0.004070,-0.004048,-0.000154,0.002099,0.005294,-0.002344
price,0.007246,0.003463,-0.004374,0.003564,-0.004070,1.000000,0.999991,-0.003491,0.004763,-0.005172,-0.001001
service fee,0.007247,0.003445,-0.004347,0.003558,-0.004048,0.999991,1.000000,-0.003473,0.004742,-0.005176,-0.000992
minimum nights,0.005697,-0.002212,0.015285,-0.039433,-0.000154,-0.003491,-0.003473,1.000000,-0.049967,-0.002542,0.083976
number of reviews,-0.036371,-0.005042,-0.025225,0.070669,0.002099,0.004763,0.004742,-0.049967,1.000000,-0.017656,-0.080612
review rate number,0.035916,0.004002,-0.003467,0.014364,0.005294,-0.005172,-0.005176,-0.002542,-0.017656,1.000000,0.024292
calculated host listings count,0.022915,0.001517,0.032357,-0.105283,-0.002344,-0.001001,-0.000992,0.083976,-0.080612,0.024292,1.000000

In [85]:
df.to_csv('/Users/meiyeechong/Downloads/airbnb.csv',index=False)